<link rel="stylesheet" data-photoslurp-css-id="<?php echo $this->getContainerId() ?>" href="<?php echo $this->getCssUrl() ?>">
<div id="<?php echo $this->getContainerId() ?>" style="clear:both" class="ps-container">
    <script data-type="photoslurp">

        if(!photoSlurpWidgetSettings) {
            var photoSlurpWidgetSettings = {};
        }

        (function() {
            photoSlurpWidgetSettings['<?php echo $this->getContainerId() ?>'] = <?php echo $this->getJson() ?>;
            var script = document.createElement('script');
            script.async = true;
            script.src = '//static.photoslurp.com/widget/v3/widget_loader.js';
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        })();

    </script>
    <a href="//hi.photoslurp.com/partners/<?php echo $this->getUserName(); ?>?utm_source=referral&utm_medium=powered-by-photoslurp" target="_blank" class="ps-poweredby-link" title="Powered by Photoslurp">
        <div class="ps-logo-widget-carousel"></div>
    </a>
</div>
